
.label, .button, .toggle-button
{
    -fx-text-fill: white;
}


.button, .toggle-button
{
	-fx-background-radius: 10;
    -fx-background-color: #668;
    -fx-border-radius:  10;
    -fx-border-color: #222;
    -fx-border-width: 3px;
    -fx-background-insets: 1px;
}

.toggle-button:selected
{
    -fx-background-color: #aaf;
    -fx-text-fill: black;
    -fx-border-color: linear-gradient(to bottom right, #aaf, blue);
}

.button:hover, .toggle-button:hover
{
    -fx-border-color: linear-gradient(to bottom right, #00f, #f00);
    -fx-background-color: #88a;
    -fx-text-size: 18;
}

.button:pressed, .toggle-button:pressed
{
	-fx-background-color: #55a;
}


.label:hover
{
	-fx-font-size:22;
}

.main-panel
{
    -fx-background-color: #335;
}

.titled-pane, .title
{
    -fx-background-color: #222;
    -fx-text-fill: white;
    -fx-background-radius: 5;
}



.main-titled-pane .content
{
    -fx-background-color: #447;
    -fx-text-fill: white;
    -fx-background-radius: 1 1 5 5;
    -fx-border-color:transparent;
}

.sub-titled-pane .content
{
	-fx-background-color: #336;
	-fx-background-radius: 1 1 5 5;
}


